@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter.ttf') format('truetype');
}

@font-face {
  font-family: 'Kai';
  src: url('./fonts/BebasKai.ttf') format('truetype');
}

html {
  scroll-behavior: smooth;
}

body,
h4,
h6 {
  font-family: 'Inter';
  font-weight: 500;
}

h1 {
  font-family: 'Kai';
  font-size: 3vw;
  line-height: 1.2;
  transform: scaleY(1.1);
  letter-spacing: 0.025em;
}
@media (max-width: 768px) {
  h1 {
    font-size: 2.2rem;
    line-height: 1.1;
  }
}

h2 {
  font-family: 'Kai';
  font-size: 3vh;
  line-height: 1.2;
  text-transform: uppercase;
  transform: scaleY(1.2);
    letter-spacing: 0.02em;
  }
  
  h3 {
    font-family: 'Kai';
    font-size: 1.5rem;
    text-transform: uppercase;
    transform: scaleY(1.1);
    letter-spacing: 0.025em;
}

h5 {
  font-family: 'Kai';
  font-size: 1.1rem;
  text-transform: uppercase;
  transform: scaleY(1.1);
  letter-spacing: 0.025em;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.interactive-div {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  width: 100%;
}

.interactive-div:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.div-content {
  max-height: 400px;
  /* or whatever max size fits well */
  overflow-y: hidden;
  /* Allow content to scroll within the div */
  transition: max-height 0.5s ease, opacity 0.5s ease;
}
